<% if products.any? %>
  <ul class="media-list">
    <% products.each do |product| %>
      <li class="media">
        <div class="media-left">
          <% if product.image? %>
　　        <%= image_tag product.image, :size => "100x100" %>
　        <% else %>
　　        <%= image_tag "noimage.png", :size => "100x100" %>
　        <% end %>
        </div>
        <div class="media-body">
          <div>
            <%= link_to product_path(product) do %>
              <h4><%= product.title %></h4>
            <% end %>
          </div>
          <div>
            <h3><%= product.price %>円</h3>
          </div>
          <div>
            <%= product.capture %>
          </div>
          
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate products %>
<% end %>