<div class="row">
  <div class="col-xs-10"> 
  
    <div class="text-center">
　    <h3><%= @product.title %></h3>
　    <p>この商品を売っているお店：<%= link_to @product.store.name, store_path(@product.store) %></p>
　  </div>
　  
    <div class="text-center" id="show_image">
      <% if @product.image? %>
　　    <%= image_tag @product.image, :size => "500x500" %>
　    <% else %>
　　    <%= image_tag "noimage.png", :size => "500x500" %>
　    <% end %>
　  </div>
　  
　  <div class="text-center">
      <h2><%= @product.price %>円</h2>
    </div>
    
    <div class="text-center"> 
      <%= @product.capture %>
    </div>
    
    <% if current_store == @product.store %>
    <div class="text-right">
      <%= link_to "編集", edit_product_path(@product) %>
      <%= link_to "削除", @product, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %> 
    <% end %>  
    </div>
  </div>
</div>