<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Shopping</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to '商品の登録', new_product_path %></li>
          <li><%= link_to '商品一覧', products_path %></li>
        </ul>
      </div>
      
      <div class="text-center"> <!-- 検索フォーム -->
        <div class="text-muted"><p>商品を検索</p></div>
        <%= form_tag(products_path, :method => "get") do %>
          <%= text_field_tag :search %>
          <%= submit_tag "検索", :title => nil %>
        <% end %>  
      </div>
    </div>
  </nav>
</header>